.mainMargin {
    margin: auto;
    width: 580;
    padding: 20px;
}

.imageBorder {
    border-radius: 50%;
}

 
.fade-in-image { animation: fadeIn 5s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }