.cardWitdh {
    width: 18rem;
}

.cardsInRow {
    display: inline-block;
  }

  .roundCorners {
    border-radius: 25px;
    background-color: #EEECFB;
    padding: 20px;
    width: 200px;
    height: 150px;
  }

  .cardShadow {
    border: 1px solid;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

  .spaces {
      margin-right: 10px;
      margin-bottom: 20px;
  }

  .purple {
    background-color: purple;
  }

  .reviewButton {
    background-color: purple;
    color: black;
    border: 2px solid black; /* Green */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }